html, body
{
  background-color: #009688;
  color: white;
  height: 100% !important;
  font-family: 'Roboto', sans-serif;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   rgba(255,255,255, 0.5);
}
.main-form
{
  display: flex;
  width:100%;
  align-content:center;
  justify-content:center;
  text-align:center;
}
#nameInput
{
  border:none;
  background-color: transparent;
  border-bottom:2px solid white;
  max-width: 500px;
  font-size: 26px;
  color: white;
  transition: all 250ms ease-out;
}
#nameInput:focus
{
  outline:none;
  border-bottom: 6px solid #FFC107;
}
.procura-btn
{
  border: 2px solid white;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  transition: all 450ms ease-out;
}
.procura-btn:hover
{
  background-color: white;
  color: #009688;
}
.item-movie::before
{
  content: url(play-button.png);
  margin-right: 20px;
  filter:  grayscale(100%);
}
.item-movie
{
  display:table;
  text-align: left;
  transition: all 100ms ease-out;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}
.item-movie span{
  display:table-cell;
 vertical-align:middle;
}
.item-movie span:nth-child(2){
  
  color: #FFC107;
}
.item-movie:hover
{
  margin-left: 20px;
}
.item-movie:hover span{
  font-weight: bold;
}
.item-movie:hover::before{
  filter: grayscale(0%);
}
.buscando-info
{
  font-size: 18px;
  display: block;
}
.dir-name
{
  color : rgba(255,255,255, 0.6);
  font-weight: bold;
}
.result-num
{
  color: #FFC107;
  font-weight: bold;
}
.item-movie-not-found
{
  background-color: red;
}
.item-desc
{
  background-color: #EEEEEE;
}
.resultados{
  
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  margin-right: 0;
  min-height: 80%;
}

.soundtracks-header
{
  font-size: 18px;
}
.soundtrack-results{
  
  margin-left: 0;
}
.header-info
{
  background-color: #00695C;
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
  width: 100%;
  flex-direction: column;
  text-align:center;
  
  
}
.header-info img
{
  left: 0px;
  position: absolute;
  transition: all 150ms ease-out;
}
.header-info img:hover
{
  filter: blur(2px);
}
.main-img
{
  text-align: center;
}
.movie-resumo
{
  padding: 20px;
  background-color: #00796B;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: none;
}
.action-btn
{
  margin-left: 100px;
  border: none;
  background-color: #FFC107;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}
.procurando-msg
{
  color: white;
  opacity: 0.7;
  display: none;
}

.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}

.track-item{
  padding: 15px 0;
  cursor: pointer;
  margin: 5px 0;
}